/*Drop down*/
.dropdownn {
    position: relative;
    display: inline-block;
	font-size:18px;
	color:#f2f2f2;
	margin-right:100px;
	margin-top:28px;
}

.dropdownn-content {
    display: none;
    position: absolute;
    background-color: #15161D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-size:18px;
}

.dropdownn-content a {
    color: grey;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.dropdownn-content a:hover {background-color: #15161D;
								color:red;}

.dropdownn:hover .dropdownn-content {
    display: block;
	margin-right:20px;
}

/*Slide show*/
* {box-sizing: border-box;}

.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 93.5%;
  position: relative;
  margin-right: 10px;;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*product side by side*/
.column {
  float: left;
  width: 20%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}