
/* Fixed sidenav, full height */
.sidenav {
position: absolute;
top: 100px;
bottom: 0;
left: 2%;
z-index: 1000;
display: block;
overflow-x: hidden;
overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
background-color: #ffffcc;
width:260px;
height:590px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,.dropdown-btn:hover {
  color: #ff884d;
}

.sidenav a:visited{
	background-color:black;
	
}

/* Main content */
.main {
  margin-left: 295px; /* Same as the width of the sidenav */
  margin-top: 100px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #ffcc99;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color:  #ffe6cc;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}




/*popup change img*/
.overlay {position: fixed;
		  top: 0;
	  	  bottom: 0;
	  	  left: 0;
		  right: 0;
		  background: rgba(0, 0, 0, 0.7);
		  transition: opacity 500ms;
		  visibility: hidden;
		  opacity: 0;}
		
.overlay:target {visibility: visible;
				opacity: 1;}

.popup {margin: 80px auto;
		padding: 20px;
		background: #fff;
		border-radius: 5px;
		width: 32%;
		position: relative;
		transition: all 5s ease-in-out;}

.popup h2 {margin-top: 0;
		   color: #333;
		   font-family: Tahoma, Arial, sans-serif;}
		   
.popup .close {position: absolute;
			   top: 20px;
		       margin-left:360px;
			   transition: all 200ms;
			   font-size: 30px;
			   font-weight: bold;
			   text-decoration: none;
			   color: #333;}
		
.popup .close:hover {color: #06D85F;}

.popup .content {max-height: 30%;
				 overflow: auto;}

@media screen and (max-width: 700px){
		.popup{width: 70%;}}